<%= form_for(@reconciliation) do |f| %>
  <% if @reconciliation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reconciliation.errors.count, "error") %> prohibited this reconciliation from being saved:</h2>

      <ul>
      <% @reconciliation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_name %><br>
    <%= f.text_field :date_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
