<p id="notice"><%= notice %></p>

<p>
  <strong>Complete:</strong>
  <%= @homework.complete %>
</p>

<p>
  <strong>Student:</strong>
  <%= @homework.student %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @homework.assignment %>
</p>

<%= link_to 'Edit', edit_homework_path(@homework) %> |
<%= link_to 'Back', homeworks_path %>
